<p style="color: green"><%= notice %></p>

<% content_for :title, "Comments" %>

<h1 class = "my-4">Commentaires par potin</h1>
  <%Gossip.all.each do |gossip|%>

    <%comments_nb = gossip.comments.count%>
    <div>
      <%= "#{gossip.title} a #{comments_nb}  #{comments_nb == 1 ? 'commentaire' : 'commentaires' }" %>
    </div>
  <% end %>