<h1>L'équipe c'est moi ! (⌐▀͡ ̯ʖ▀) </h1>

<img class="h-25 w-25" src="https://assets.tiltify.com/uploads/media_type/image/203025/blob-09636982-a21a-494b-bbe4-3692c2720ae3.jpeg">

<h2>Et j'ai oublié d'envoyer mon projet T.T</h2>

<img class="h-25 w-25" src="https://cdn-images.threadless.com/~tms/gammaray/products/1470509/shirt-1590737126-87f892570251492be5492b47adabc14a.png?v=3&d=g6NvcHOWk6R0cmltksLCgJOmcmVzaXplkIOld2lkdGjLQI8gAAAAAACmaGVpZ2h0y0CPIAAAAAAAqGFsbG93X3VwwpOvY2FudmFzX2NlbnRlcmVkks0EsM0EsIGqYmFja2dyb3VuZKZmZmZmZmaTpnJlc2l6ZZHNAyCAk69jYW52YXNfY2VudGVyZWSTzQMgzQMgpyNmZmZmZmaAk6ZlbmNvZGWSpHdlYnBVgKVmb3JjZcKpb25seV9tZXRhwg==&f=mp">